# Import Libraries

In [4]:
import pandas as pd
import numpy as np
import os

# Import Data

In [6]:
path = r"C:\Users\Zachu\Downloads\08-25-2024_Insta_Cart_Basket_Analysis"
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [7]:
# Create a subset of 1 million
df = ords_prods_merge[:1000000]
df.shape

(1000000, 14)

## Create function and column to classify prices

In [9]:
# User defined fucntion

def price_label(df):

 if df['prices'] <= 5:
    return "low-range product"
 elif (df['prices'] > 5) & (df['prices'] <= 15):
    return "mid-range product"
 elif df['prices'] > 15:
    return "high_range product"
 else: return "not enough data"

In [10]:
df['price_range']= df.apply(price_label, axis=1)

C:\Users\Zachu\AppData\Local\Temp\ipykernel_3092\3046734123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range']= df.apply(price_label, axis=1)

In [11]:
df['price_range'].value_counts(dropna = False)

price_range
mid-range product     652638
low-range product     338018
high_range product      9344
Name: count, dtype: int64

In [12]:
# Apply the fucntion and store it in 'price_range' column
#df['price_range']= df.apply(price_label, axis=1)

In [13]:
#df['price_range'].value_counts(dropna = False)

In [14]:
df['prices'].max()

24.5

In [15]:
# Using loc() funtion

In [16]:
#df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [17]:
#df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [18]:
#df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [19]:
#df['price_range_loc'].value_counts(dropna = False)

## Create function and column to classify busy days

In [21]:
# Display value counts for each day of the week
ords_prods_merge['order_dow'].value_counts(dropna = False)

order_dow
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [22]:
# Create a list that stores string values based on classifications
result = []
for value in ords_prods_merge["order_dow"]:
    if value == 0:
        result.append ('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [23]:
# Apply list to a new column in our dataset
ords_prods_merge['busiest_day'] = result

In [24]:
# Display value counts for column
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# 4.7 Tasks

## 2. Classify groups of multiple days based on how busy they are

In [27]:
# Identify top 2 busiest and bottom 2 least busiest days
result_2 = []

for value in ords_prods_merge["order_dow"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Slowest days")
  else:
    result_2.append("Regularly busy")

In [28]:
# Create 'busiest days' column to view results 
ords_prods_merge['busiest_days'] = result_2

In [29]:
# Check value counts 
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

In [30]:
# Check output for dataset
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Regularly busy,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Regularly busy,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest day,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Regularly busy,Slowest days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Least busy,Slowest days

## 4. Classify time periods based on three indicators: Most Orders, Average Orders, and Fewest Orders

In [32]:
# Display value counts for each hour 
hours_sorted = ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)
hours_sorted

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [33]:
busiest_hour = []

for row in ords_prods_merge['order_hour_of_day']:
  if row in hours_sorted[:8]:
   busiest_hour.append("Most orders")
  elif row in hours_sorted[8:16]:
   busiest_hour.append("Average orders")
  else:
   busiest_hour.append("Fewest orders")

In [34]:
ords_prods_merge['hours_ranked'] = busiest_hour

In [35]:
ords_prods_merge['hours_ranked'].value_counts(dropna=False)

hours_ranked
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [62]:
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))